@model ViewChatRoomAppViewModel

@{
    int color = (int)Model.UserColor;
    int userId = Model.userId;
    bool isTyping = Model.isTyping;
}

<div>
           <form asp-controller="chatroom" asp-action="logout" method="post" >
            <button class="btn btn-primary" type="submit">Logout</button>
                <div class="input-group mt-3">
                    <input type="hidden" asp-for="userId" class="form-control" value="@Model.userId" />
                    <input type="hidden" asp-for="isLoggedIn" class="form-control" value="@Model.isLoggedIn" />
                    <input type="hidden" asp-for="messageId" class="form-control" value="@Model.messageId" />
                    <input type="hidden" asp-for="UserColor" class="form-control" value="@Model.UserColor" />
                    <input type="hidden" asp-for="ColorCssClasses" class="form-control" value="@Model.ColorCssClasses" />
                    <input type="hidden" asp-for="Messages" class="form-control" value="@Model.Messages" />
                    <input type="hidden" asp-for="Users" class="form-control" value="@Model.Users" />
                    <input type="hidden" asp-for="UserName" class="form-control" value="@Model.UserName" />
                    <input type="hidden" asp-for="isTyping" class="form-control" value="@Model.isTyping" />
                </div>
            </form>   
            
</div>

    <div class="card">
        <div class="card-header " @Model.ColorCssClasses>
            <div class="row">
                <div class="col">
                    <div class="fs-1 ">
                        @Model.UserName                    
                    </div>
                </div>           
            </div>
        </div>        
    <div>

@*       // fazer refresh a este troço com a partial

        @foreach (var message in Model.Messages)
    {            
        <li class="list-group-item">
            <div class="row">
                    
                <div class="col">
                    <p class="@message.ColorCssClasses ">@message.UserName : <br> @message.Message</p>
                
                        
                </div>
                <div class="col-1 d-flex align-items-center" style="width: 106px">
                                                
                </div>
            </div>
        </li>         
}
*@

<div id="messageListPartial">@await Html.PartialAsync("Partials/Partial.cshtml", @Model.MessageModel)</div>


        <!--Form-->

@*        <form asp-controller="chatroom" asp-action="sendmessage" method="post">
        <div class="mb-3">
                <label asp-for="Message" class="form-label"></label>
                <input type="hidden" asp-for="messageId" class="form-control" value="@Model.messageId" />
                <input type="hidden" asp-for="UserColor" class="form-control" value="@Model.UserColor" />
                <input type="hidden" asp-for="ColorCssClasses" class="form-control" value="@Model.ColorCssClasses" />
                <input type="hidden" asp-for="Messages" class="form-control" value="@Model.Messages" />
                <input type="hidden" asp-for="Users" class="form-control" value="@Model.Users" />
                <input type="hidden" asp-for="UserName" class="form-control" value="@Model.UserName" />
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
        
        </div>
            <button type="submit" class="btn btn-outline-primary">
                <span class="">Send</span>
            </button>
        </form>*@

        <div class="input-group mt-3">
            <input  type="text" oninput="displayIsTyping()" id="type-message" class="form-control" placeholder="Send Message" aria-label="Send Message" aria-describedby="button-send-message">
            <button class="btn btn-primary" type="button" id="button-send-message" data-user-id="@Model.userId" data-user-name="@Model.UserName" data-colorcssclasses="@Model.ColorCssClasses" data-ng-messages="@Model.Messages"data-messages-id="@Model.messageId">Send</button>
        </div>


      
    </div>   
</div>

@section Scripts {
<script>
    $(function() {
        
        var sendMessageSelector = "#button-send-message";
      
        $(sendMessageSelector).click(function() {
            var that = $(this);
            var input = that.siblings("input");
            var select = that.siblings("select");
            
            if (input.val() != '') {

                $.ajax('/api/chatroom/messages?userid=' + that.data('user-id'),
                {
                    contentType: 'application/json',
                    method: 'POST',
                    data: JSON.stringify({ Message: input.val(), UserColor: @color, UserName: that.data('user-name') }),
                    success: function(jqXHR, textStatus) {

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        });

        setInterval(function() {
          
            $("#messageListPartial").load('/api/chatRoom/getPartialMessages?userid=' + @userId);
        }, 1000);
    });
</script>

 <script>

    function displayIsTyping() { 
            
        //$("#type-message").change(function() {
       
     setInterval(function() {
            var x = document.getElementById("type-message").value;
            @isTyping = false;
            if (x !== '') {
                @isTyping = true;
            }
            $("#userPartial").load('/api/ChatRoom/getPartialUsers?userid=' + @userId +'&isTyping=' + @isTyping);

        }, 1000);

    };

   </script>

}

<br />
<br />

    <div class="card" style="width:170px">
        <div class="row">
            <div class="col">
                <div class="fs-1 ">
                    OnLine:                    
                </div>
            </div>
        </div>
   </div>


<div id="userPartial">@await Html.PartialAsync("Partials/UsersPartial.cshtml", @Model.UserModel)</div>
   
   

  